<div class="table">
<div class="table-wrapper">
<table>
<thead>
    <tr>
    <th></th>
    <th>Name</th>
    <th>Spent</th>
    <th>Age</th>
    <th>Email</th>
    <th>Gender</th>
    <th>First Seen</th>
    <th>Last Visit</th>
    <th>Region</th>
    <th>City</th>
    <th>Country Code</th>
    </tr>
</thead>
<tbody>
    <% @visitors.each do |visitor|  %>
    <tr>
        <td><%= link_to visitor.name, app_visitor_path(@app, visitor.id) %></td>
        <td><%=   visitor.name %></td>
        <td><%=   visitor.name %></td>
        <td><%=   visitor.name %></td>
        <td><%=   visitor.name %></td>
        <td><%=   visitor.name %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
</div>



