<tr>
        <td><%= link_to contact.name, app_contact_path(@app, contact.id) %></td>
        <td><%= button_to('Identify', identify_path(@app, contact.id), method: :post) %></td>
        <td><%=   contact.spent %></td>
        <td><%=   contact.age %></td>
        <td><%=   contact.email %></td>
        <td><%=   contact.gender %></td>
        <td><%=   contact.first_seen %></td>
        <td><%=   contact.last_visit %></td>
        <td><%=   contact.region %></td>
        <td><%=   contact.city %></td>
        <td><%=   contact.country_code %></td>
    </tr>