<!DOCTYPE html>
<html>
  <head>
    <title>MiniCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>

  <body>
  
    <div class="sidebar-wrapper flex-shrink-0 p-3 bg-white">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Mini CRM</span>
      </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          People
        </button>
        <div class="collapse show" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to "All Contacts", app_contacts_path(@app) %> <%= @app.contacts.count %></li>
            <li><%= link_to "All Visitors", app_visitors_path(@app) %> <%= current_user.visits.count %> </li>
            <%= link_to "Recent Visitors",  most_recent_path(@app)  %>
           
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
          Account
        </button>
        <div class="collapse show" id="account-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <% if current_user.admin == true %>
          <li><%= link_to "All Users", app_users_path(@app) %></li>
          <% end %>
          <li><%= link_to "All Pages", app_pages_path(@app) %></li>
          <li><%= link_to "New Page", new_app_page_path(@app) %></li>
            <li><%= link_to "New Contact", new_app_contact_path(@app) %></li>
            <li><%= link_to "Profile ", app_user_path(current_user, @app) %></li>
 
            <% if logged_in? == false %>
            <li class="nav-item"><a href="/login" class="nav-link">Sign In</a></li>
            <% else %>
            <%= button_to('Log Out', logout_path, method: :delete) %>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <%= yield %>

    </body>
</html>
